$assign-color: #bca058;
$action-color: #87aa72;
$branching-color: #6991b2;
$drop-down-color: $branching-color;
$text-darken: 38%;
$line-margin: 10px;
$node-padding-top: 0;
$node-padding-right: 18px;
$node-padding-bottom: 0;
$node-padding-left: 7px;
@mixin node-color($background-color) {
	background-color: $background-color;
	color: darken($background-color, $text-darken);
}
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin node-shadow {
	box-shadow: 0 1px 3px 0 rgba(#000000, 0.65);
}
@mixin animate-margin {
	transition-property: margin;
	transition-duration: 100ms;
	transition-timing-function: ease;
}

%node {
	@include no-select;
	@include node-shadow;
	padding: $node-padding-top $node-padding-right $node-padding-bottom $node-padding-left;
	border-radius: 3px;
	display: inline;
	font-size: 18px;
	height: 29px;
	line-height: 29px;
	font-weight: 500;
}

%node-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	& > li {
		margin-bottom: $line-margin;

		&:last-child {
			margin-bottom: 0;
		}
	}
}