$assign-color: #bca058;
$action-color: #87aa72;
$branching-color: #6991b2;
$text-darken: 38%;
$line-margin: 10px;
$node-padding-top: 5px;
$node-padding-right: 18px;
$node-padding-bottom: 5px;
$node-padding-left: 7px;
@mixin node-color($background-color) {
	background-color: $background-color;
	color: darken($background-color, $text-darken);
}
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

%node {
	@include no-select;
	padding: $node-padding-top $node-padding-right $node-padding-bottom $node-padding-left;
	border-radius: 3px;
	cursor: grab;
	display: inline;
	font-weight: 500;
	box-shadow: 0 2px 3px 0 rgba(#000000, 0.65);
}

%node-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	& > li:not(.if-node) {
		margin-bottom: $line-margin;

		&:last-child {
			margin-bottom: 0;
		}
	}
}