body,
html {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Roboto', Arial, sans-serif;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

:focus {
	outline: none;
}
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
$default-card-color: #583455;
@mixin card-box {
	box-sizing: border-box;
	width: 280px;
	height: 310px;
	margin-right: 30px;
	margin-bottom: 30px;
	border-radius: 8px;
}
@mixin home-card($card-color) {
	@include card-box;
	background-color: $card-color;
	color: white;
	cursor: pointer;
	box-shadow: inset 0 0 30px 10px #00000033, 0 0 30px 10px #00000022;
	transition-property: transform;
	transition-duration: 0.25s;
	transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1) scale(1);

	&:hover {
		box-shadow: inset 0 0 30px 10px #00000033, 0 0 50px 10px #00000045;
		transform: matrix3d(1,0,0.00,0.0001,0.00,1,0.00,0,0,0,1,0,0,0,0,1) scale(1.1);
		background-color: lighten($card-color, 1%);
		// animation-iteration-count: infinite;
		// animation-name: floating-card;
		// animation-duration: 6s;
		// animation-delay: 250ms;
		// animation-timing-function: linear;
	}
	@keyframes floating-card {
		25% {
			transform: matrix3d(1,0,0.00,0.0001,0.00,1,0.00,0,0,0,1,0,0,0,0,1) scale(1.1);
			background-color: lighten($card-color, 5%);
		}

		50% {
			transform: matrix3d(1,0,0.00,0,0.00,1,0.00,-0.0001,0,0,1,0,0,0,0,1) scale(1.1);
			background-color: lighten($card-color, 5%);
		}

		75% {
			transform: matrix3d(1,0,0.00,-0.0001,0.00,1,0.00,0,0,0,1,0,0,0,0,1) scale(1.1);
			background-color: lighten($card-color, 1%);
		}
	}
}