@import './mixins';

body,
html {
	@include no-select;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Roboto', Arial, sans-serif;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

:focus {
	outline: none;
}

.mdi-light {
	color: rgba(255, 255, 255, 1);

	&.mdi-inactive {
		color: rgba(255, 255, 255, 0.3);
	}
}