@import './mixins';
@import './level/constants';

body,
html {
	@include no-select;
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Roboto', Arial, sans-serif;

	* {
		scrollbar-color: #fff6 #0000;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #0000;
			position: absolute;
			/* or add it to the track */
		}

		&::-webkit-scrollbar-button {
			height: 8px;
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background: #fff6;
			border-radius: 4px;
			margin: 5px 2px;
		}
	}
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

:focus {
	outline: none;
}

.mdi-light {
	color: rgba(255, 255, 255, 1);

	&.mdi-inactive {
		color: rgba(255, 255, 255, 0.3);
	}
}