@import './mixins';
@import './level/constants';

body,
html {
	@include no-select;
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	background-color: black;
	font-family: 'Roboto', Arial, sans-serif;

	* {
		scrollbar-color: #fff6 #0000;
		scrollbar-width: thin;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background-color: #0000;
			position: absolute;
			/* or add it to the track */
		}

		&::-webkit-scrollbar-button {
			height: 8px;
			width: 8px;
		}

		&::-webkit-scrollbar-thumb {
			background: #fff6;
			border-radius: 4px;
			margin: 5px 2px;
		}

		&:focus {
			outline: none;
		}
	}
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	background: none;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

noscript {
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	display: block;
	background-color: #282c34;
	box-sizing: border-box;
	padding-top: 30px;

	header {
		height: 40vw;
		max-height: 50vh;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url("./images/banner.jpg");
	}

	.noscript-text {
		padding: 40px;
		font-weight: bold;
		color: #ABB2BF;
		text-align: center;
		font-size: 30px;
	}
}

.mdi-light {
	color: rgba(255, 255, 255, 1);

	&.mdi-inactive {
		color: rgba(255, 255, 255, 0.3);
	}
}

.link-button {
	display: inline-block;
	text-decoration: none;
	background: #568AF2;
	margin: 5px;
	padding: 0 5px 0 15px;
	outline: none;
	border: none;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight: 500;
	border-radius: 16px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
	line-height: 32px;
	margin-bottom: 14px;

	.mdi-arrow-right-circle {
		display: inline-flex;
		font-size: 25px;
		margin-left: 8px;
		vertical-align: bottom;
	}
}

.category-color-gray {
	background-color: #757b88;
}

.category-color-blue {
	background-color: #557cca;
}

.category-color-green {
	background-color: #6d9757;
}

.category-color-yellow {
	background-color: #D5AF55;
}

.category-color-red {
	background-color: #B2463C;
}

.category-color-purple {
	background-color: #654683;
}

.category-color-orange {
	background-color: #D0753B;
}