@font-face {
	font-family: "Menlo";
	src: url("./Menlo/Menlo.eot") format("embedded-opentype"), url("./Menlo/Menlo.woff2") format("woff2"), url("./Menlo/Menlo.woff") format("woff"), url("./Menlo/Menlo.ttf") format("truetype"), url("./Menlo/Menlo.svg") format("svg");
}
@font-face {
	font-family: "Consolas";
	src: url("./Consolas/Consolas.eot") format("embedded-opentype"), url("./Consolas/Consolas.woff2") format("woff2"), url("./Consolas/Consolas.woff") format("woff"), url("./Consolas/Consolas.ttf") format("truetype"), url("./Consolas/Consolas.svg") format("svg");
}
@font-face {
	font-family: "Monaco";
	src: url("./Monaco/Monaco.eot") format("embedded-opentype"), url("./Monaco/Monaco.woff2") format("woff2"), url("./Monaco/Monaco.woff") format("woff"), url("./Monaco/Monaco.ttf") format("truetype"), url("./Monaco/Monaco.svg") format("svg");
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_regular/Roboto-Regular-webfont.eot");
	src: url("./Roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.woff2") format('woff2'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.woff") format('woff'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.ttf") format('truetype'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_medium/Roboto-Medium-webfont.eot");
	src: url("./Roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.woff2") format('woff2'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.woff") format('woff'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.ttf") format('truetype'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.svg#robotomedium") format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_bold/Roboto-Bold-webfont.eot");
	src: url("./Roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.woff2") format('woff2'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.woff") format('woff'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.ttf") format('truetype'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.svg#robotobold") format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_black/Roboto-Black-webfont.eot");
	src: url("./Roboto/roboto_black/Roboto-Black-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_black/Roboto-Black-webfont.woff2") format('woff2'), url("./Roboto/roboto_black/Roboto-Black-webfont.woff") format('woff'), url("./Roboto/roboto_black/Roboto-Black-webfont.ttf") format('truetype'), url("./Roboto/roboto_black/Roboto-Black-webfont.svg#robotoblack") format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Noto';
	src: url("./Noto/NotoSansSymbols2-Regular.ttf");
	src: url("./Noto/NotoSansSymbols2-Regular.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("./Material-icons/Material-icons.woff2") format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }