@font-face {
	font-family: "Consolas";
	src: url("./Consolas/Consolas.eot") format("embedded-opentype"), url("./Consolas/Consolas.woff2") format("woff2"), url("./Consolas/Consolas.woff") format("woff"), url("./Consolas/Consolas.ttf") format("truetype"), url("./Consolas/Consolas.svg") format("svg");
}
@font-face {
	font-family: "Digits";
	src: url("./Digits/digits.woff2") format("woff2"), url("./Digits/digits.woff") format("woff"), url("./Digits/digits.ttf") format("truetype"), url("./Digits/digits.svg") format("svg");
}
@font-face {
	font-family: "Born2bSportyV2";
	src: url("./Born2bSportyV2/Born2bSportyV2.woff2") format("woff2"), url("./Born2bSportyV2/Born2bSportyV2.woff") format("woff"), url("./Born2bSportyV2/Born2bSportyV2.ttf") format("truetype"), url("./Born2bSportyV2/Born2bSportyV2.svg") format("svg");
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_regular/Roboto-Regular-webfont.eot");
	src: url("./Roboto/roboto_regular/Roboto-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.woff2") format('woff2'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.woff") format('woff'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.ttf") format('truetype'), url("./Roboto/roboto_regular/Roboto-Regular-webfont.svg#robotoregular") format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_medium/Roboto-Medium-webfont.eot");
	src: url("./Roboto/roboto_medium/Roboto-Medium-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.woff2") format('woff2'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.woff") format('woff'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.ttf") format('truetype'), url("./Roboto/roboto_medium/Roboto-Medium-webfont.svg#robotomedium") format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_bold/Roboto-Bold-webfont.eot");
	src: url("./Roboto/roboto_bold/Roboto-Bold-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.woff2") format('woff2'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.woff") format('woff'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.ttf") format('truetype'), url("./Roboto/roboto_bold/Roboto-Bold-webfont.svg#robotobold") format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url("./Roboto/roboto_black/Roboto-Black-webfont.eot");
	src: url("./Roboto/roboto_black/Roboto-Black-webfont.eot?#iefix") format('embedded-opentype'), url("./Roboto/roboto_black/Roboto-Black-webfont.woff2") format('woff2'), url("./Roboto/roboto_black/Roboto-Black-webfont.woff") format('woff'), url("./Roboto/roboto_black/Roboto-Black-webfont.ttf") format('truetype'), url("./Roboto/roboto_black/Roboto-Black-webfont.svg#robotoblack") format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Noto';
	src: url("./NotoKufiArabic/NotoKufiArabic-Regular/NotoKufiArabic-Regular.woff2") format('woff2'), url("./NotoKufiArabic/NotoKufiArabic-Regular/NotoKufiArabic-Regular.woff") format('woff'), url("./NotoKufiArabic/NotoKufiArabic-Regular/NotoKufiArabic-Regular.ttf") format('truetype'), url("./NotoKufiArabic/NotoKufiArabic-Regular/NotoKufiArabic-Regular.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Noto';
	src: url("./NotoKufiArabic/NotoKufiArabic-Bold/NotoKufiArabic-Bold.woff2") format('woff2'), url("./NotoKufiArabic/NotoKufiArabic-Bold/NotoKufiArabic-Bold.woff") format('woff'), url("./NotoKufiArabic/NotoKufiArabic-Bold/NotoKufiArabic-Bold.ttf") format('truetype'), url("./NotoKufiArabic/NotoKufiArabic-Bold/NotoKufiArabic-Bold.svg") format('svg');
	font-weight: bold;
	font-style: normal;
}