.slide-enter-active {
	transition: transform 0.5s ease;
}

.slide-leave-active {
	transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
	transform: translate(100%);
}

.switch-enter-active {
	transition: opacity 0.5s ease;
}

.switch-leave-active {
	transition: opacity 0.2s ease;
}

.switch-enter,
.switch-leave-to {
	opacity: 0;
}

.type-undefined {
	color: #d19a66;
}

.type-function {
	color: hsl(207, 82%, 66%);
}

.type-variable {
	color: #e06c75;
}

.type-keyword {
	color: #c678dd;
}

.type-literal {
	color: #d19a66;
}

.type-string {
	color: #98c379;
}

.type-number {
	color: #d19a66;
}

.type-operator {
	color: #56b6c2;
}

.type-bracket {
	color: #abb2bf;
	font-style: italic;
}

.level-title {
	font-family: "Born2bSportyV2", "Roboto", Arial, sans-serif;
	font-size: 1.3em;
}

.icon-star {
	background-image: url("./images/star-icon.png");
}

.icon-wall {
	background-image: url("./images/wall-icon.png");
}

.icon-floor {
	background-image: url("./images/floor-icon.png");
}

.icon-hole {
	background-image: url("./images/hole-icon.png");
}

.icon-switch {
	background-image: url("./images/switch-icon.png");
}

.icon-switch-red {
	background-image: url("./images/switch-red-icon.png");
}

.icon-nothing {
	background-image: url("./images/nothing-icon.png");
}

.icon-hero {
	background-image: url("./images/hero-icon.png");
}

.icon-npc {
	background-image: url("./images/npc-icon.png");
}

.icon-bonfire {
	background-image: url("./images/bonfire-icon.png");
}

.icon-cauldron {
	background-image: url("./images/cauldron-icon.png");
}

.icon-spikes {
	background-image: url("./images/spikes-icon.png");
}

.icon-egg {
	background-image: url("./images/egg-icon.png");
}

.icon-direction {
	background-image: url("./images/direction-icon.png");
}

.icon-variable {
	background-image: url("./images/variable-icon.png");
}

.icon-number {
	background-image: url("./images/number-icon.png");
}

.icon-myitem {
	background-image: url("./images/myitem-icon.png");
}

.icon-everyone {
	background-image: url("./images/everyone-icon.png");
}

.icon-message-hey {
	background-image: url("./images/message-hey-icon.png");
}

.icon-message-lol {
	background-image: url("./images/message-lol-icon.png");
}

.icon-message-ho {
	background-image: url("./images/message-ho-icon.png");
}

.icon-message-kiss {
	background-image: url("./images/message-kiss-icon.png");
}

.icon-message-stop {
	background-image: url("./images/message-stop-icon.png");
}

.icon-message-wait {
	background-image: url("./images/message-wait-icon.png");
}

.icon-message-ok {
	background-image: url("./images/message-ok-icon.png");
}

.icon-message-coffee {
	background-image: url("./images/message-coffee-icon.png");
}

.boss-icon-ogre {
	background-image: url("./images/boss-icon-ogre.png");
}

.boss-icon-pied-piper {
	background-image: url("./images/boss-icon-pied-piper.png");
}

.boss-icon-gatekeeper {
	background-image: url("./images/boss-icon-gatekeeper.png");
}